body {
    font-family: $main-font, 'Courier New'; 
    font-size: 16px;
    overflow-x: hidden;
    display: flex;
    
    button:focus {
        outline:0;
    }

    button:active {
        position: relative;
        top: 1px;
    }
}
