

@include minimal-width {
    body {
        height: 200vh;
    }
    
/* ukrywa content przewidziany dla ekranów mniejszych niż 350px szerokości */
    .main_container_main_circle {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-content: center;
        
        .subcontainer_main_circle {
        width: 30%;
        }
    }
    
    .main_circle_outside {
        position: relative;
//        width: 20%;
        margin:4% 0 5% 3%;
        padding:0;
        border-top: none;
        animation-name: bounce;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    
/* element konieczny do uzyskania koła w RWD */
        
      .main_circle_spacer {
        position: relative;
        padding-top: 100%;
       }
    }
    
    .main_circle {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 1px solid #454444;
        border-radius: 50%;
        text-align: center;
        display: block;
        padding: 5px;
        box-shadow: 2px 5px 15px 0px rgba(26, 38, 44, 0.5); 
        background: rgba(136,123,143,1);
        background: -moz-linear-gradient(left, rgba(136,123,143,1) 0%, rgba(219,155,219,0.22) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(136,123,143,1)), color-stop(100%, rgba(219,155,219,0.22)));
        background: -webkit-linear-gradient(left, rgba(136,123,143,1) 0%, rgba(219,155,219,0.22) 100%);
        background: -o-linear-gradient(left, rgba(136,123,143,1) 0%, rgba(219,155,219,0.22) 100%);
        background: -ms-linear-gradient(left, rgba(136,123,143,1) 0%, rgba(219,155,219,0.22) 100%);
        background: linear-gradient(to right, rgba(136,123,143,1) 0%, rgba(219,155,219,0.22) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#887b8f', endColorstr='#db9bdb', GradientType=1 );
        
/* element konieczny do uzyskania koła w RWD */
        
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -2%;
         }
        
        .scroll_me {
            line-height: 1em;
            color:#efeaea;
            text-align: center;
            text-transform: uppercase;
        }
        
        &>.wrapcontent {
            display: inline-block;
            vertical-align: middle;
            
    /* copy wewnątrz koła */
            
            & > p {
//                font-size: 1em;
                display:block;
                line-height: 1em;
                color:#efeaea;
                text-align: center;
                text-transform: uppercase;
            }
        }
     }
}

@include xs-width {
    .small_screens {
        display: none;
    }
    .wrapcontent {
        p, .scroll_me {
            font-size: 1.2em;
        }
    }
}
@include s-width {
    .small_screens {
        display: none;
    }
    .wrapcontent {
        p, .scroll_me {
            font-size: 1.7em;
        }
    }
}
@include m-width {
    .small_screens {
        display: none;
    }
    .wrapcontent {
        p, .scroll_me {
            font-size: 2em;
        }
    }
}
@include l-width {
    .small_screens {
        display: none;
    }
    .wrapcontent {
        p, .scroll_me {
            font-size: 2.3em;
        }
    }
}
@include xl-width {
    .small_screens, .scroll_me {
        display: none;
    }
    .wrapcontent {
        p, .scroll_me {
            font-size: 3em;
        }
    }
}

@keyframes bounce {
     0% {
        top: 0;
    }
    50% {
        top: -15px;
    }
     100% {
        top: 0;
    }
}