@include below-minimal-width {
    .parallax_container {
        display: none;
    }
}

@include minimal-width {
    body {
        background-color: $background-color;
    }
    .small_screens {
        display: none;
    }
    .parallax_container {
        .scroll {
            position: fixed;
            top: 0;
            left: 0;
        }
        .horizon {
            z-index: 1;
            width: 450vw;
        }

        .front {
            z-index: 1000;
            width: 450vw;

            .page {
                position: absolute;
                width: 100vw;
                top: 0;
            }

            .page1 {
                position: absolute;
                width: 100vw;
                top: -150vh;
            }
        }
    }
}