@include mobile-width {
    .ready_container {
        width: 100vw;
        height: 100vh;
        left: 410vw;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .ready_screen {
            background-color: white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 60vh;
            border-radius: 15vh;

            .ready_screen_wrapcontent_ready {
                text-transform: uppercase;
                height: 20vh;
                animation-name: ready;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-self: center;

                #span_ready {
                    text-align: center;
                    height: 10vh;
                    position: relative;
                    top: 5vh;
                }
                
                .span_ready_hide {
                    opacity: 0;
                }
            }
            
            .ready_screen_wrapcontent_buttons {
                display: flex;
                justify-content: center;                
                width: 65vw;
                align-self: center;
                z-index: 10000;
                position: relative;
                top: 5vh;

                .yes_button, .no_button, .maybe_button {
                    font-size: 1em;
                    color: white;
                    border: none;
                    padding: 0.8em 0.2em 0.8em 0.2em;
                    border-radius: 20px;
                    box-shadow: 0 4px $background-color;
                    width: 35vw;
                    margin: 0.07em;
                    background-color: $pink-color;
                    font-family: $main-font, 'Courier New'; 
                }
            }  
        }
    }

    @keyframes ready {
        0% {
            font-size: 3em;
        }
        50% {
            font-size: 3.3em;
        }
        100% {
            font-size: 3em;
        }
    }
}

@include minimal-width {
    .ready_container {
        left: 350vw;

        .ready_screen {
            background-color: transparent;
            height: inherit;
            background-image: url("../images/circle.png");
            background-repeat: no-repeat;
            background-size: contain;
            padding: 25%;
            
            .ready_screen_wrapcontent_buttons {
                flex-wrap: wrap-reverse;
                width: 30vw;

                .yes_button, .no_button, .maybe_button {
                    font-size: 0.7em;
                    width: 6vw;
                }
            }  
        }
    }
}

@include xs-width {
    .ready_container {
        .ready_screen {
            padding: 30%;
            
            .ready_screen_wrapcontent_buttons {
                position: relative;
                top: 3vh;
            }
        }
    }
}

@include s-width {
    .ready_container {
        .ready_screen {
            padding: 30%;
        }
    }
}

@include m-width {
    .ready_container {
        .ready_screen {
            padding: 35%;
            .ready_screen_wrapcontent_buttons {
                position: relative;
                top: 7vh;
                
                .yes_button, .no_button, .maybe_button {
                    font-size: 1em;
                }
            }
        }
    }
}

@include l-width {
    .ready_container {
        .ready_screen {
            padding: 35%;
            
            .ready_screen_wrapcontent_buttons {
                position: relative;
                top: 10vh;
            }
        }
    }
    
    @keyframes ready {
        0% {
            font-size: 3.5em;
        }
        50% {
            font-size: 3.8em;
        }
         100% {
            font-size: 3.5em;
        }
    }
}

@include xl-width {
    .ready_container {
        .ready_screen {
            padding: 35%;
        }
    }
    
    @keyframes ready {
        0% {
            font-size: 3.9em;
        }
        50% {
            font-size: 4.2em;
        }
        100% {
            font-size: 3.9em;
        }
    }
}

@include xxl-width {
    .ready_container {
        .ready_screen {
            padding: 35%;
            
            .ready_screen_wrapcontent_buttons {
                position: relative;
                top: 15vh;
                
                .yes_button, .no_button, .maybe_button {
                    font-size: 1.2em;
                }
            }
        }
    }
    
    @keyframes ready {
        0% {
            font-size: 4.4em;
        }
        50% {
            font-size: 4.7em;
        }
        100% {
            font-size: 4.4em;
        }
    }
}