.ready_container {
    width: 100vw;
    height: 100vh;
    left: 350vw;
}

.container_ready_screen {
    width:190%;
    height: 100vh;
    margin: 0 auto;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.ready_screen_outside {
    width: 100%;
    padding:5%;
    margin-bottom: 5%;
}

.span_ready_hide {
    display: none;
}

.heart_hide {
    opacity: 0;
}

@include minimal-width {
    body {
        height: 200vh;
    }
    
/* ukrywa content przewidziany dla ekranów mniejszych niż 350px szerokości */
    .main_container_ready_screen {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-content: center;
        
        .subcontainer_ready_screen {
        width: 30%;
        }
    }
    
    .ready_screen_outside {
        position: relative;
        margin:4% 0 5% 3%;
        padding:0;
        border-top: none;
    
/* element konieczny do uzyskania koła w RWD */
        
      .ready_screen_spacer {
        position: relative;
        padding-top: 100%;
       }
    }
    
    .ready_screen {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 1px solid #454444;
        border-radius: 50%;
        text-align: center;
        display: block;
        padding: 5px;
        background: white;
        
/* element konieczny do uzyskania koła w RWD */
        
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -2%;
         }
        
        
        .ready_screen_wrapcontent {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            height: 100%;
            
            .ready_screen_wrapcontent_inside {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                height: 65vh;
                
                .ready_screen_wrapcontent_buttons {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap-reverse;
                    width: 30vw;
                    position: relative;
                    top: 20vh;
                }
            
                .ready_screen_wrapcontent_ready {
                    text-transform: uppercase;
                    height: 12vh;
                    font-size: 4em;
                    font-family: $main-font;
                    position: relative;
                    top: 27vh;
                    animation-name: ready;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
            }
        }
     }
}

@keyframes ready {
     0% {
        font-size: 4em;
    }
    50% {
        font-size: 4.3em;
    }
     100% {
        font-size: 4em;
    }
}

.yes_button, .no_button, .maybe_button {
    font-family: $main-font;
    font-size: 1.2em;
    color: white;
    border: none;
    padding: 0.8em 0.2em 0.8em 0.2em;
    border-radius: 20px;
    box-shadow: 0 4px $background-color;
    width: 8vw;
    margin: 0.07em;
    background-color: #9c1b82;
}

//.background_button {
//    background-image: url("../images/buttons_background.jpg");
//    background-repeat: no-repeat;
//}
//
//.maybe_button {
//    background-position: -400px -200px;
//}
//
//.yes_button {
//    background-position: -600px -300px;
//}
//
//.no_button {
//    background-position: -800px -400px;
//}


//.beyond_parallax {
//    background-color: #19092e;
//    width: 100vw;
//    height: 100vh;
//    float: right;
//    align-self: flex-end;
//    
//    .game_view {
//        display: flex;
//        justify-content: center;
//        
//        .game_screen_container {
//            width:80%;
//            height: 100vh;
//            margin: 0 auto;
//        }
//    }
//}