.game_container {
    width: 100vw;
    height: 100vh;
    left: 350vw;
    top: -200vh;
}

.container_game_screen {
    width:190%;
    height: 100vh;
    margin: 0 auto;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.game_screen_outside {
    width: 100%;
    padding:5%;
    margin-bottom: 5%;
}

@include minimal-width {
    body {
        height: 200vh;
    }
    
/* ukrywa content przewidziany dla ekranów mniejszych niż 350px szerokości */
    .main_container_game_screen {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-content: center;
        
        .subcontainer_game_screen {
        width: 30%;
        }
    }
    
    .game_screen_outside {
        position: relative;
        margin:4% 0 5% 3%;
        padding:0;
        border-top: none;
    
/* element konieczny do uzyskania koła w RWD */
        
      .game_screen_spacer {
        position: relative;
        padding-top: 100%;
       }
    }
    
    .game_screen {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 1px solid #454444;
        border-radius: 50%;
        text-align: center;
        display: block;
        padding: 5px;
        background: white;
        
/* element konieczny do uzyskania koła w RWD */
        
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -2%;
         }
        
        
        .game_screen_wrapcontent {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            height: 100%;
            
            .game_screen_wrapcontent_inside {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                height: 85vh;
                
                .game_screen_menu_container {
                    height: 16vh;
                    width: 40vw;
                    display: flex;
                    justify-content: space-around;
                    font-family: $main-font;
                    font-size: 1.5em;
                    text-transform: uppercase;
                    
                    .timer_container {
                        background-image: url("../images/plama.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 20vh;
                        width: 20vh;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        color: whitesmoke;
                        
                        .timer {
//                            display: inline-block;
                            line-height: 1.5em;
                            
                            .hours {
                                display: none;
                            }
                            .minutes {
                                float: left;
                            }
                            
                            .seconds {
                                float: left;
                            }
                        }
                    }
                    
                    .counter_container {
                      background-image: url("../images/plama_alt.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 20vh;
                        width: 20vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                            
                        
                        #counter {
                            line-height: 1.5em;
                        }
                        
                        #counter_value {
                            font-size: 1.8em;
                            color: $background-color;
                        }
                    }
                }
                .game_screen_wrapcontent_buttons {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap-reverse;
                    width: 30vw;
                    align-self: center;
                }
                
                .gameover_buttons {
                    display: none;
                }
            
                .game_screen_wrapcontent_ready {
                    text-transform: uppercase;
                    height: 18vh;
                    width: 20vw;
                    font-size: 6em;
                    font-family: $main-font;
                    color: $pink-color;
                    -webkit-box-shadow: 11px 14px 44px -11px rgba(25,9,46,1);
                    -moz-box-shadow: 11px 14px 44px -11px rgba(25,9,46,1);
                    box-shadow: 11px 14px 44px -11px rgba(25,9,46,1);
                    align-self: center;
                    border-radius: 20px;
                    padding: 0.2em 0 0.2em 0;
                    
                }
                
                .score {
                    display: flex;
                    flex-direction: column;
                    align-content: space-between;
                    justify-content: center;
                    align-items: center;
                }
                
                    .start {
                            font-size: 4em;
                            line-height: 1.7em;
                            cursor:pointer;
                    }
                    .gameover {
                            position: relative;
                    }

                    .gameover_copy {
                        color: $pink-color;
                        font-size: 0.5em;
                    }

                    .gameover_points_accuracy {
                        color: $pink-color;
                        font-size: 0.2em;
//                        line-height: 1em;
                        padding: 0.5em;
                    }

                    .play_again {
                        padding: 1em 0.7em 1em 0.7em;
                        box-shadow: 0 4px $background-color;
                        border-radius: 20px;
                        border: none;
                        background-color: #ae83b9;
                        font-family: $main-font;
                        font-size: 0.2em;
                        line-height: 0;
                    }
        }
     }
}
}


.foo_button, .bar_button, .foobar_button, .not_button {
    font-family: $main-font;
    font-size: 1.2em;
    color: white;
    border: none;
    padding: 0.8em 0.2em 0.8em 0.2em;
    border-radius: 20px;
    box-shadow: 0 4px $background-color;
    width: 8vw;
    margin: 0.07em;
//    background-color: #9c1b82;
//    background-color: #6e4794;
    background-color: #ae83b9;
}

//.background_button {
//    background-image: url("../images/buttons_background.jpg");
//    background-repeat: no-repeat;
//}
//
//.foo_button {
//    background-position: -200px -100px;
//}
//
//.not_button {
//    background-position: -400px -200px;
//}
//
//.bar_button {
//    background-position: -600px -300px;
//}
//
.foobar_button {
//    background-position: -800px -400px;
     margin-bottom: 0.5em;
}