@include mobile-width {
    .third_rule_container {
        width: 90vw;
        height: 100vh;
        
        left: 310vw;
        
        display: flex;
        align-items: center;

        .third_rule_inside {
            width: 85vw;

            .third_rule_inside_copy {
                display: flex;
                justify-content: space-between;
                height: 14vh;
                align-items: center;

                p {
                    font-size: 1.5em;
                    
                    line-height: 1.5em;
                    color: white;
                }

                #p2_third_rule, #p3_third_rule, #p4_third_rule, #p5_third_rule {
                    opacity: 0;
                }
                
                #p1_third_rule {
                    font-size: 1.8em;
                }
                
                .number {
                    display: none;
                }
                
                .and {
                    display: none;
                }
                
                .button {
                    display: none;
                }
                
                .or {
                    display: none;
                }
            }
        }
    }
}

@include minimal-width {
    .third_rule_container {
        left: 270vw;

        .third_rule_inside {
            width: 72vw;

            .third_rule_inside_copy {
                p {
                    font-size: 0.9em;
                }
                
                #p1_third_rule {
                    font-size: 1.3em;
                }
                .number {
                    display: inline;
                }
                
                .nr {
                    display: none;
                }
                .and {
                    display: inline;
                }
                
                .and_short {
                    display: none;
                }
                .button {
                    display: inline;
                }
                .or {
                    display: none;
                }
            }
        }
    }

    .left {
        background-image: url("../images/left.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 10vw;
        height: 5vh;
        opacity: 0;
    }

    .right {
        background-image: url("../images/right.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 10vw;
        height: 5vh;
        opacity: 0;
    }

    .up {
        background-image: url("../images/up.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 10vw;
        height: 5vh;
        opacity: 0;
    }

    .down {
        background-image: url("../images/down.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 10vw;
        height: 5vh;
        opacity: 0;
    }
}

@include xs-width {
    .third_rule_container {
        .third_rule_inside {
            .third_rule_inside_copy {
                #p2_third_rule, #p3_third_rule, #p4_third_rule, #p5_third_rule {
                    font-size: 1em;
                    line-height: 0.8em;
                }
                
                #p1_third_rule {
                    font-size: 1.4em;
                }
            }
        }
    }
}

@include s-width {
    .third_rule_container {
        .third_rule_inside {
            .third_rule_inside_copy {
                #p2_third_rule, #p3_third_rule, #p4_third_rule, #p5_third_rule {
                    font-size: 1.1em;
                    line-height: 1em;
                }
                
                #p1_third_rule {
                    font-size: 1.5em;
                }
            }
        }
    }
}

@include m-width {
    .third_rule_container {
        .third_rule_inside {
            .third_rule_inside_copy {
                width: 65vw;
                
                #p2_third_rule, #p3_third_rule, #p4_third_rule, #p5_third_rule {
                    font-size: 1.2em;
                    line-height: 1em;
                }
                
                #p1_third_rule {
                    font-size: 1.6em;
                }
            }
        }
    }
}

@include l-width {
    .third_rule_container {
        .third_rule_inside {
            .third_rule_inside_copy {
                #p2_third_rule, #p3_third_rule, #p4_third_rule, #p5_third_rule {
                    font-size: 1.3em;
                    line-height: 1.1em;
                }
                
                #p1_third_rule {
                    font-size: 1.8em;
                }
            }
        }
    }
}

@include xl-width {
    .third_rule_container {
        .third_rule_inside {
            .third_rule_inside_copy {
                width: 60vw;
                
                #p2_third_rule, #p3_third_rule, #p4_third_rule, #p5_third_rule {
                    font-size: 1.5em;
                    line-height: 1.3em;
                }
                
                #p1_third_rule {
                    font-size: 2em;
                }
            }
        }
    }
}

@include xxl-width {
    .third_rule_container {
        .third_rule_inside {
            .third_rule_inside_copy {
                #p2_third_rule, #p3_third_rule, #p4_third_rule, #p5_third_rule {
                    font-size: 1.7em;
                    line-height: 1.5em;
                }

                #p1_third_rule {
                    font-size: 2.5em;
                }
            }
        }
    }
}