/* colors */

$background-color: #19092e;
$pink-color: #9c1b82;
$light-violet-color: #ae83b9;
$light-grey: #efeaea;

/* fonts */

$main-font: 'Special Elite';

/* screen width */

$minimal-width: 700px;
$xxs-width: 701px;
$xs-width: 850px;
$s-width: 990px;
$m-width: 1130px;
$l-width: 1260px;
$xl-width: 1400px;
$xxl-width: 1550px;
$large-desktop-width: 1680px;
