/* fonts */

$main-font: 'Special Elite';

/* colors */

$background-color: #19092e;

/* screen width */

$minimal-width: 350px;
$xs-width: 450px;
$s-width: 580px;
$m-width: 700px;
$l-width: 920px;
$xl-width: 1100px;
